
body{
    margin: 0;
    border: 0;
    max-height: 100vh;
    background-color: rgb(0, 0, 56);
}
.flex-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* .content-box{

} */
#clock-reading{
    font-family: 'DS-DIGITAL';
    font-size: 200px;
    color: rgba(0, 255, 0, 0.678);
    width: 100%;
    letter-spacing: 10px;
}
#date-reading{
    font-family: 'Leaner';
    font-size: 40px;
    font-weight: 600;
    color: white;
}